<div class="costing-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="costing-content">
                    <h2>Value-Added Courses</h2>
                    <p>Add-on courses are dynamic, skill-focused programs designed to complement your regular degree
                        studies. By enrolling in these courses, you gain practical, hands-on experience that directly
                        enhances your employability and broadens your knowledge base. These certification programs
                        empower you to develop specialized skills beyond your standard academic curriculum, giving you a
                        competitive edge in the job market and preparing you for real-world challenges.</p>
                    <a routerLink="/tuition-fees" class="read-more-btn">
                        Find out more
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-costing-card">
                    <h3>The Power of Skill Enhancement Programs</h3>
                    <span class="sub-title">Why join a Skill Enhancement Program? Boost your skills and career!</span>
                    <ul class="features">
                        <li>
                            <span>
                                <span>Boost Your Employability</span>
                            </span>
                            <p>Gain in-demand, specialized skills that set you apart from the crowd and make you a top
                                choice for employers.</p>
                        </li>
                        <li>
                            <p><span>Summer 2024</span> (May-August)</p>
                            <span>
                                <span>$590</span> per credit 
                            </span>
                        </li>
                        <li>
                            <span>
                                <span>Expand Your Horizons</span>
                            </span>
                            <p>Dive into new subjects and stay updated with the latest industry trends, giving you a
                                broader, more versatile knowledge base.</p>
                        </li>
                        <li>
                            <span>
                                <span>Supercharge Your Career Flexibility</span>
                            </span>
                            <p>With new expertise under your belt, you’ll have the confidence to explore diverse roles
                                or shift your career direction—unlocking a world of exciting opportunities!</p>
                        </li>
                    </ul>
                    <ul class="total">
                        <li>
                            Total
                        </li>
                        <li class="price">
                            $21,490
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-costing-card">
                    <h3>Advanced Learning Tracks</h3>
                    <span class="sub-title">Take your learning to the next level with our diverse range of
                        career-boosting courses:</span>
                    <ul class="features">
                        <li>
                            <span>
                                <span>AI and Robotics</span>
                            </span>
                            <p>Discover how to design, build, and apply smart systems and robotics across industries.
                            </p>

                        </li>
                        <li>
                            <span>
                                <span>Logistics & Shipping Management</span>
                            </span>
                            <p>Master supply chain operations, shipping processes, and efficient logistics.</p>

                        </li>
                        <li>
                            <span>
                                <span>Airline & Aviation Management</span>
                            </span>
                            <p>Learn the essentials of managing airline operations and aviation safety.</p>
                        </li>
                        <li>
                            <span>
                                <span>Full Stack Development</span>
                            </span>
                            <p>Build complete web applications with both front-end and back-end expertise.</p>
                        </li>
                        <li>
                            <span>
                                <span>Cloud Computing with AWS</span>
                            </span>
                            <p>Explore cloud solutions and manage applications using Amazon Web Services.</p>
                        </li>
                    </ul>
                    <a routerLink="courses" [queryParams]="{ courseType: 'Distance Education' }" class="read-more-btn">
              Find out more
              <i class="ri-arrow-right-line"></i>
            </a>
                    <ul class="total">
                        <li>
                            Total
                        </li>
                        <li class="price">
                            $10,490
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>