<aside class="widget-area">
    <div class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <form class="search-form">
            <input type="search" class="search-field" placeholder="Search...">
            <button type="submit"><i class="ri-search-line"></i></button>
        </form>
    </div>
    <div class="widget widget_categories">
        <h3 class="widget-title">Categories</h3>
        <ul>
            <li><a routerLink="/news-grid">Academies</a></li>
            <li><a routerLink="/news-grid">Alumni</a></li>
            <li><a routerLink="/news-grid">Application</a></li>
            <!-- <li><a routerLink="/news-grid">Engineering</a></li> -->
            <li><a routerLink="/news-grid">Design</a></li>
            <li><a routerLink="/news-grid">Business</a></li>
            <li><a routerLink="/news-grid">Science</a></li>
        </ul>
    </div>
    <div class="widget widget_lian_posts_thumb">
        <h3 class="widget-title">Latest news</h3>
        <article class="item">
            <a routerLink="/news-details" class="thumb">
                <img src="assets/images/news/news1.jpg" alt="news-image">
            </a>
            <div class="info">
                <h4 class="title">
                    <a routerLink="/news-details">
                        Need help studying? Teach a rubber duck!
                    </a>
                </h4>
                <span class="date">25 Jan, 2024</span>
            </div>
        </article>
        <article class="item">
            <a routerLink="/news-details" class="thumb">
                <img src="assets/images/news/news2.jpg" alt="news-image">
            </a>
            <div class="info">
                <h4 class="title">
                    <a routerLink="/news-details">
                        My 3-year journey with the University of Lian
                    </a>
                </h4>
                <span class="date">24 Jan, 2024</span>
            </div>
        </article>
        <article class="item">
            <a routerLink="/news-details" class="thumb">
                <img src="assets/images/news/news3.jpg" alt="news-image">
            </a>
            <div class="info">
                <h4 class="title">
                    <a routerLink="/news-details">
                        How to stand up when things fall apart
                    </a>
                </h4>
                <span class="date">23 Jan, 2024</span>
            </div>
        </article>
        <article class="item">
            <a routerLink="/news-details" class="thumb">
                <img src="assets/images/news/news4.jpg" alt="news-image">
            </a>
            <div class="info">
                <h4 class="title">
                    <a routerLink="/news-details">
                        How to organize your studies for success
                    </a>
                </h4>
                <span class="date">22 Jan, 2024</span>
            </div>
        </article>
    </div>
    <div class="widget widget_follow_us">
        <h3 class="widget-title">Follow us</h3>
        <ul>
            <li><a href="https://facebook.com/" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
            <li><a href="https://www.pinterest.com/" target="_blank">Pinterest</a></li>
            <li><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li>
        </ul>
    </div>
    <div class="widget widget_tag_cloud">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
            <a routerLink="/news-grid">Advertisement</a>
            <a routerLink="/news-grid">Business</a>
            <a routerLink="/news-grid">Life</a>
            <a routerLink="/news-grid">Lifestyle</a>
            <a routerLink="/news-grid">Fashion</a>
            <a routerLink="/news-grid">Ads</a>
            <a routerLink="/news-grid">Advertisement</a>
            <a routerLink="/news-grid">Business</a>
        </div>
    </div>
</aside>