
<router-outlet></router-outlet>

<app-homethree-banner></app-homethree-banner>

<app-find-courses></app-find-courses>

<app-how-it-works></app-how-it-works>

<app-about></app-about>

<app-courses></app-courses>

<app-campus-information></app-campus-information>

<app-funfacts></app-funfacts>



<!-- <app-professors></app-professors> -->

<app-cta></app-cta>

<app-events></app-events>

<app-campus-experience></app-campus-experience>

<app-news></app-news>


<app-placements></app-placements>

<app-tuition-costs></app-tuition-costs>

<app-testimonial></app-testimonial>

<ngx-scrolltop></ngx-scrolltop>