<!-- Page Title -->
<div class="page-title-area" style="background-image: url(assets/images/page-title/page-title-8.jpg);">
    <div class="container">
        <div class="page-title-content">
            <h2>Campus information</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home 
                    </a>
                </li>
                <li>Campus information</li>
            </ul>
        </div>
    </div>
</div>

<!-- Campus information -->
<div class="campus-information-area ptb-100">
    <div class="container">
        <div class="campus-information-content">
            <h3>About our campus</h3>
            <p>Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
            <p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula  Vestibulum ac diam sit amet quam vehicula elementum sed justo, lacinia eget.</p>
            <img src="assets/images/campus-information-img.jpg" alt="Image">
            <h4>Campus facilities</h4>
            <p>Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            <p>Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
            <ul>
                <li>Silent study area</li>
                <li>Student Room</li>
                <li>Cafe area</li>
                <li>Computer suites</li>
                <li>Library</li>
                <li>Parking facilities</li>
            </ul>
            <h4>Other campus information</h4>
            <p>Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            <ol>
                <li>Annual security report</li>
                <li>ID badges</li>
                <li>Room reservations</li>
                <li>Emergency procedures</li>
                <li>Lab hours</li>
                <li>Building maps</li>
            </ol>
            <p><i>Donec velit neque, auctor sit amet aliquam vel, <strong>ullamcorper</strong> sit amet ligula. Nulla porttitor accumsan tincidunt. Nulla porttitor <u>accumsan</u> tincidunt. Curabitur aliquet quam id dui.</i></p>
        </div>
    </div>
</div>