<div class="banner-area" style="background-image: url(assets/images/banner/banner-bg-1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="sub-title">Welcome to HCCMAT Campus</span>
                    <h2>A world-class education is applicable for building the future</h2>
                    <div class="banner-btn">
                        <a routerLink="/events" class="default-btn">
                            Check event
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                    <div class="courses-link">
                        <a routerLink="/campus-experience">
                            Explore our courses  
                            <i class="ri-arrow-right-line"></i>
                        </a>
                        <a routerLink="/study-online" class="study-online">
                            Study online 
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>
                    
                    <!-- Small Cards Section -->
                    <div class="row cards-container">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-simple-steps">
                                <img src="assets/images/MGU.jpg" alt="Mahatma Gandhi University Logo" />
                                <h3>Affiliations</h3>
                                <p>Mahatma Gandhi University offers 250+ courses across various disciplines, enrolling approximately 150,000 students annually.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-simple-steps">
                                <img src="assets/images/IGNOU-Logo.png" alt="IGNOU Logo" />
                                <h3>Distance Education</h3>
                                <p>Indira Gandhi National Open University (IGNOU), the world's largest university, provides diverse distance education programs.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-simple-steps">
                                <img src="assets/images/anti-ragging.webp" alt="Anti-Ragging Cell" />
                                <h3>Anti-Ragging Cell</h3>
                                <p>Ragging is strictly prohibited and punishable. Report incidents to the authorities immediately.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single-simple-steps">
                                <img src="assets/images/nature.png" alt="Nature Club" />
                                <h3>Nature Club</h3>
                                <p>Join our Nature Club to explore and protect the environment through engaging activities.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Small Cards Section -->

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-img">
                    <video #videoPlayer autoplay muted loop webkit-playsinline>
                        <source src="assets/videos/hccmatCampus.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
    
    <ul class="social-link">
        <li><a href="https://www.facebook.com/holycrossidukki/" target="_blank" rel="noopener">Facebook</a></li>
        <li><a href="https://www.instagram.com/holycrosscollegeofficial/" target="_blank" rel="noopener">Instagram</a></li>
        <li><a href="#" target="_blank">Twitter</a></li>
        <li><a href="#" target="_blank">LinkedIn</a></li>
    </ul>
</div>
