<div class="banner-area" >
    <video autoplay loop muted class="banner-video" id="bannerVideo" poster="assets/images/Tea-plant.jpg">
        <source src="assets/videos/HccmatVideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
     
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-9">
                <div class="banner-content">
                    <span>Pursue a life of meaning and discovery at the College of the Holy Cross.</span>
                    <h1>Need a good education to grow your career</h1>
                    <div class="courses-link">
                        <a routerLink="/courses" class="study-online">
                            Our courses  
                            <i class="ri-arrow-right-line"></i>
                        </a>
                        <a routerLink="/campus-experience" class="study-online">
                            Explore Our Campus
                            <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>

                    <div class="application-submit-content">
                        <a routerLink="/application" class="default-btn">
                          Admissions Open for 2025
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ul class="social-link">
        <li>
            <a href="https://www.facebook.com/holycrossidukki/" target="_blank" rel="noopener">
                Facebook
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/holycrosscollegeofficial/" target="_blank" rel="noopener">
                Instagram
            </a>
        </li>
        <!-- <li>
            <a href="#" target="_blank">
                Twitter
            </a>
        </li> -->
        <li>
            <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener">
                Linkedin
            </a>
        </li>
    </ul>
</div>


<!-- Video Popup -->
<!-- <div class="video-popup" *ngIf="isOpen">
    <div class="popup-inner">
        <iframe src="https://www.youtube.com/embed/XNQk1qt__Vw" title="Setup and Local Installation - React Nextjs Online Yoga Coaching &amp; Training Courses System" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <button (click)="closePopup()" type="button" class="close-btn">
            <i class="ri-close-fill"></i>
        </button>
    </div>
</div> -->