<div class="top-header-area"  [ngClass]="{'bg-white': router.url === '/index-3'}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5">
                <ul class="header-left-content">
                    <li>
                        <a href="https://www.mgu.ac.in/">
                            <i class=""></i>
                            Affiliated To MG University
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-7">
                <ul class="header-right-content">
                    <li>
                        <a href="tel:+919562600011">
                            <i class="ri-phone-fill"></i>
                            Admission Hotline : 
                            9562600011
                        </a>
                    </li>
                    <li>
                        <a href="mailto:hello&#64;lian.com">
                            <i class="ri-mail-send-fill"></i>
                            mail&#64;holycrossputtady.org
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>