<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <div class="brand-container">
                        <a class="navbar-brand" routerLink="/"> 
                            <img width="50px" height="50px" src="assets/images/logo.png" alt="logo">
                        </a>
                        <h5 class="college-name">HOLY CROSS COLLEGE <br>
                            <span class="small-text">OF MANAGEMENT AND TECHNOLOGY</span>
                        </h5>
                    </div>
                    <p>Experience more than your college years </p>
                    <ul class="social-icon">
                        <li>
                            <span>Follow us:</span>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/holycrossidukki/" target="_blank" rel="noopener" title="Facebook">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/holycrosscollegeofficial/" target="_blank" rel="noopener" title="Instagram">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank" rel="noopener" title="LinkedIn">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank" rel="noopener" title="Twitter">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-sm-6 col-md-6">
                <div class="single-footer-widget pl-2">
                    <h3>Useful link</h3>
                    <ul class="import-link">
                        <li>
                            <a routerLink="/application">Application</a>
                        </li>
                        <li>
                            <a routerLink="/aboutUs">About Us</a>
                        </li>
                        <li>
                            <a routerLink="/alumni">Alumni</a>
                        </li>
                        <li>
                            <a routerLink="/campus-experience">HCCMAT Campus</a>
                        </li>
                        <li>
                            <a routerLink="/hccmat">hccmat admin</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>Study</h3>
                    <ul class="import-link">
                        <li>
                            <a routerLink="/courses">Find a course</a>
                        </li>
                        
                        <li>
                            <a routerLink="/scholarship">Scholarships</a>
                        </li>
                        <li>
                            <a routerLink="/news-grid">Campus News</a>
                        </li>
                        <li>
                            <a routerLink="/placement">Placements</a>
                        </li>
                        <li>
                            <a routerLink="/rank-holders">Rank Holders</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>Inquiries</h3>
                    <ul class="address">
                        <li class="location">
                            <i class="ri-map-pin-line"></i>
                            <span>Address</span>
                            HOLY CROSS COLLEGE OF MANAGEMENT AND TECHNOLOGY, Puttady, Kerala 685551
                        </li>
                        <li>
                            <i class="ri-mail-line"></i>
                            <span>Email</span>
                            <a href="mailto:info&#64;lian.com">mail&#64;holycrossputtady.org</a>
                        </li>
                        <li>
                            <i class="ri-phone-line"></i>
                            <span>Phone</span>
                            <a href="tel:+1-(514)-312-5678">04868 277 674</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right-area">
        <div class="container">
            <p>© Proudly Owned by <a href="/" target="_blank"> Holy Cross College of Management And Technology</a></p>
        </div>
    </div>
</footer>